@font-face {
  src: url("./fonts/Manrope-Light.ttf");
  font-family: "Manrope";
  font-display: swap;
}

@font-face {
  src: url("./fonts/Manrope-SemiBold.ttf");
  font-family: "ManropeBold";
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  margin: 0;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #edf2f8;
}

main {
  display: grid;
  grid-template-columns: 0.8fr 1fr;

  margin-left: calc(10em + 10vw);
  margin-right: calc(10em + 10vw);
}

h1,
h2 {
  font-family: "ManropeBold";
  color: #49556c;
}

h2 {
  margin-bottom: 0;
}

p {
  color: #9098a1;
  font-weight: bold;
}

.image-container {
  background-image: url("./images/drawers.jpg");
  background-size: cover;

  border-top-left-radius: calc(0.4em + 0.4vw);
  border-bottom-left-radius: calc(0.4em + 0.4vw);
}

.text-container {
  background-color: white;

  border-top-right-radius: calc(0.4em + 0.4vw);
  border-bottom-right-radius: calc(0.4em + 0.4vw);
  padding: calc(1em + 1vw);
}

.avatar {
  display: flex;
  justify-content: start;
  align-items: center;
}

.avatar-image {
  background-image: url("./images/avatar-michelle.jpg");
  background-size: cover;

  width: calc(2em + 2vw);
  height: calc(2em + 2vw);
  margin-right: calc(1em + 1vw);
  border-radius: 200%;
}

.share-container {
  position: relative;
}

.share {
  width: calc(2em + 2vw);
  height: calc(2em + 2vw);
  border-radius: 200%;

  background-color: #dfe7f1;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip {
  position: absolute;

  top: -4vw;
  right: -6vw;

  background-color: #48556b;
  opacity: 0;

  width: calc(7em + 7vw);

  padding: calc(0.4em + 0.4vw);
  border-radius: calc(0.3em + 0.3vw);

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 500;
}

.tooltip::after {
  content: "";

  position: absolute;
  top: calc(0.5em + 0.5vw);

  transform: rotate(45deg);

  width: calc(1em + 1vw);
  height: calc(1em + 1vw);

  background-color: #48556b;

  z-index: -1;
}

.info-person p {
  margin-top: 0;
}

.tooltip p {
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  h1 {
    font-size: calc(0.8em + 0.8vw);
  }

  p {
    font-size: calc(0.45em + 0.45vw);
    line-height: calc(0.7em + 0.7vw);
  }

  .share {
    width: calc(1.5em + 1.5vw);
    height: calc(1.5em + 1.5vw);
  }
}

@media (max-width: 1280px) {
  main {
    margin-left: calc(7em + 7vw);
    margin-right: calc(7em + 7vw);
  }

  .tooltip {
    top: -5vw;
    right: -6.5vw;
  }

  .tooltip::after {
    top: calc(0.6em + 0.6vw);
  }
}

@media (max-width: 1100px) {
  main {
    margin-left: calc(6em + 6vw);
    margin-right: calc(6em + 6vw);
  }
}

@media (max-width: 1030px) {
  main {
    margin-left: calc(5em + 5vw);
    margin-right: calc(5em + 5vw);
  }

  .tooltip {
    top: -5.1vw;
    right: -6.8vw;
  }

  .tooltip::after {
    top: calc(0.7em + 0.7vw);
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: calc(4em + 4vw);
    margin-right: calc(4em + 4vw);
  }

  .tooltip {
    top: -5.3vw;
    right: -6.9vw;
  }
}

@media (max-width: 1030px) {
  main {
    margin-left: calc(5em + 5vw);
    margin-right: calc(5em + 5vw);
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: calc(4em + 4vw);
    margin-right: calc(4em + 4vw);
  }
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr;

    margin-top: calc(2em + 2vw);
    margin-left: calc(4em + 4vw);
    margin-right: calc(4em + 4vw);
  }

  h1 {
    font-size: calc(1.5em + 1.5vw);
  }

  p {
    font-size: calc(0.8em + 0.8vw);
    line-height: calc(1em + 1vw);
  }

  .share {
    position: relative;
    z-index: 600;

    top: calc(1em + 1vw);

    width: calc(2em + 2vw);
    height: calc(2em + 2vw);
  }

  .image-container {
    background-size: cover;
  }

  .text-container {
    border-radius: calc(0.4em + 0.4vw);
    padding: calc(1.5em + 1.5vw);
  }

  .avatar-image {
    width: calc(2.5em + 2.5vw);
    height: calc(2.5em + 2.5vw);
  }

  .tooltip {
    top: 0vw;
    left: -68vw;

    width: calc(28em + 28vw);
    height: calc(4.5em + 4.5vw);
    padding-right: calc(4.5em + 4.5vw);
  }

  .tooltip::after {
    content: "";
    background: none;
  }

  .tooltip svg {
    transform: scale(2);
  }
}

@media (max-width: 870px) {
  .tooltip {
    width: calc(27.5em + 27.5vw);
  }
}

@media (max-width: 850px) {
  .tooltip {
    width: calc(27em + 27vw);
  }
}

@media (max-width: 830px) {
  .tooltip {
    left: -66.5vw;
    width: calc(26.3em + 26.3vw);
  }
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr;

    margin-top: calc(2em + 2vw);
    margin-left: calc(4em + 4vw);
    margin-right: calc(4em + 4vw);
  }

  h1 {
    font-size: calc(1.2em + 1.2vw);
  }

  p {
    font-size: calc(0.7em + 0.7vw);
    line-height: calc(0.9em + 0.9vw);
  }

  .share {
    width: calc(1.8em + 1.8vw);
    height: calc(1.8em + 1.8vw);

    top: calc(1.3em + 1.3vw);
  }

  .text-container {
    border-radius: calc(0.4em + 0.4vw);

    padding: calc(1.8em + 1.8vw);
  }

  .avatar-image {
    width: calc(2.3em + 2.3vw);
    height: calc(2.3em + 2.3vw);
  }

  .tooltip {
    left: -65.6vw;
    width: calc(25.5em + 25.5vw);
  }
}

@media (max-width: 780px) {
  .tooltip {
    left: -64.5vw;
    width: calc(25em + 24.5vw);
  }
}

@media (max-width: 770px) {
  .tooltip {
    left: -64.5vw;
    width: calc(24.5em + 24.5vw);
  }
}

@media (max-width: 750px) {
  .tooltip {
    left: -64vw;
    width: calc(24em + 24vw);
  }
}

@media (max-width: 730px) {
  .tooltip {
    left: -63vw;
    width: calc(23.5em + 23vw);
  }
}

@media (max-width: 710px) {
  .tooltip {
    left: -63vw;
    width: calc(23em + 23vw);
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: calc(1em + 1vw);
  }

  p {
    font-size: calc(0.6em + 0.6vw);
    line-height: calc(0.8em + 0.8vw);
  }

  .share {
    width: calc(1.7em + 1.7vw);
    height: calc(1.7em + 1.7vw);
  }

  .text-container {
    padding: calc(1.9em + 1.9vw);
  }

  .avatar-image {
    width: calc(2.2em + 2.2vw);
    height: calc(2.2em + 2.2vw);
  }

  .tooltip {
    left: -62.5vw;
    width: calc(22.5em + 22.5vw);
  }
}

@media (max-width: 680px) {
  .tooltip {
    left: -61.5vw;
    width: calc(22em + 22vw);
  }
}

@media (max-width: 660px) {
  .tooltip {
    left: -60vw;
    width: calc(21em + 21vw);
  }
}

@media (max-width: 640px) {
  .tooltip {
    left: -59.5vw;
    width: calc(20.5em + 20.5vw);
  }
}

@media (max-width: 620px) {
  .tooltip {
    left: -58.5vw;
    width: calc(20em + 20vw);
  }

  .tooltip svg {
    transform: scale(1.5);
  }
}

@media (max-width: 600px) {
  main {
    margin-left: calc(3em + 3vw);
    margin-right: calc(3em + 3vw);
  }

  h1 {
    font-size: calc(0.9em + 0.9vw);
  }

  p {
    font-size: calc(0.6em + 0.6vw);
    line-height: calc(0.8em + 0.8vw);
  }

  .share {
    width: calc(1.7em + 1.7vw);
    height: calc(1.7em + 1.7vw);
  }

  .text-container {
    padding: calc(1.9em + 1.9vw);
  }

  .avatar-image {
    width: calc(2.2em + 2.2vw);
    height: calc(2.2em + 2.2vw);
  }

  .tooltip {
    left: -65vw;
    width: calc(21.5em + 21.5vw);
  }
}

@media (max-width: 580px) {
  .tooltip {
    width: calc(21em + 21vw);
  }
}

@media (max-width: 560px) {
  .tooltip {
    left: -63.5vw;
    width: calc(20em + 20vw);
  }
}

@media (max-width: 540px) {
  .tooltip {
    left: -62.5vw;
    width: calc(19.5em + 19vw);
  }
}

@media (max-width: 520px) {
  .tooltip {
    left: -61.5vw;
    width: calc(18.5em + 19vw);
  }
}

@media (max-width: 500px) {
  main {
    margin-left: calc(1em + 1vw);
    margin-right: calc(1em + 1vw);

    margin-bottom: calc(2em + 2vw);
  }

  h1 {
    font-size: calc(1em + 1vw);
  }

  p {
    font-size: calc(0.8em + 0.8vw);
    line-height: calc(1.2em + 1.2vw);
  }

  .share {
    width: calc(2em + 2vw);
    height: calc(2em + 2vw);
  }

  .text-container {
    padding: calc(1.9em + 1.9vw);
  }

  .avatar-image {
    width: calc(2.5em + 2.5vw);
    height: calc(2.5em + 2.5vw);
  }

  .tooltip {
    left: -75vw;
    width: calc(22em + 21.5vw);
    height: calc(5.2em + 5vw);
  }
}

@media (max-width: 480px) {
  .tooltip {
    left: -74.5vw;
    width: calc(21em + 21vw);
    height: calc(5.2em + 5vw);
  }
}

@media (max-width: 460px) {
  .tooltip {
    left: -74vw;
    width: calc(20.4em + 20.4vw);
  }
}

@media (max-width: 440px) {
  .tooltip {
    left: -73vw;
    width: calc(19.6em + 19.5vw);
  }
}

@media (max-width: 435px) {
  .tooltip {
    top: -4vw;

    height: calc(7em + 7vw);
  }
  .share {
    top: calc(1.6em + 1.6vw);
  }
}

@media (max-width: 420px) {
  .tooltip {
    left: -72.2vw;
    width: calc(19em + 18.5vw);
  }
}

@media (max-width: 400px) {
  main {
    margin-bottom: calc(1em + 1vw);
  }

  .text-container {
    padding: calc(1.5em + 1.5vw);
  }

  .tooltip {
    left: -72.2vw;
    width: calc(18em + 18vw);
  }
}

@media (max-width: 380px) {
  .tooltip {
    left: -72.2vw;
    width: calc(17.5em + 17vw);
  }
}

@media (max-width: 360px) {
  .tooltip {
    left: -70.5vw;
    width: calc(16.5em + 16vw);
  }
}

@media (max-width: 340px) {
  .tooltip {
    left: -70vw;
    width: calc(15.5em + 16vw);
  }

  .share {
    top: calc(1.7em + 1.7vw);
  }
}
